<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ "platter-apps.css" | asset_url | stylesheet_tag: preload: true }}
    <script src="{{ 'platter-apps.js' | asset_url }}" defer></script>  
  
  </head>

  <body class="font-custom-body text-sm font-semibold leading-body tracking-body text-custom-brown">>
    {% sections 'header-group' %}

    <main>
    {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
  </body>
</html>
